#todo{
    width: 400px;
    margin:auto

}
      
#todobtn{
width: 345px;
}

#todobox{
    border: 2px solid rgb(215, 213, 213);
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}